body{
	/* The blue background */
	background-color: rgb(39,86,146);
}

.starter-template{
	text-align: center;
	font-family: Verdana;
    
    /* The yellow text color */
	color: rgb(255,242,0);
}

p{
	text-align: center;
	font-family: Verdana;
	color: rgb(255,242,0);
}

/* Overrides the styling of the default bootstrap navbar class */
.navbar{
    background-color: rgb(255,242,0);
}

/* Styles the text of the leftmost element of the navigation bar (which is of class navbar-brand) */
.navbar .navbar-brand {
    color: black;
}

/* Styling for when the leftmost element of the navigation bar is hovered over */
.navbar .navbar-brand:hover {
    background-color: black;
}

/* Styles each item in the navigation bar that is not active (not including the leftmost element) */
.navbar .nav > li > a{
    color: black;
}

/* Styling for when a navigation bar item is hovered over */
.navbar .nav > li > a:hover{
    background-color: black;
}

.navbar-toggle{
    background-color: rgb(39,86,146);
}

/* Corresponds to the TCNJ logo in the nav bar */
#tcnjHeader{
    padding-right:20px;
}